<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./html/head %> 
    </head>

    <body>
       <!-- Top bar -->
       <% include ./html/topbar %> 

     

        <%- body %>

        <!-- Footer -->
        <% include ./html/footer %>
    </body>
</html>
